# vim:set ft=sh:

## Listing directories #######################################################

if [[ "$(uname)" == "OpenBSD" ]]; then
    alias la='colorls -FAG'
    alias ll='colorls -FlhG'
    alias lla='colorls -FlhAG'
    alias ls='colorls -FG'
else
    alias la='ls -FA --color=auto'
    ll() {
        ls -Flh  --color=always "$@" | less
    }
    lla() {
        ls -FlhA --color=always "$@" | less
    }
    alias ls='ls -F  --color=auto'
fi


### Changing directories #####################################################

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# Projectpad aliases, see: http://github.com/babab/projectpad
alias g='cd `projectpad get`'
alias s='projectpad set && cd `projectpad get` && projectpad add'

if [[ "${HOST}" != "vml" ]]; then
    export PROJECTPAD_SYMLINK=~/p
    alias gg="cd ${PROJECTPAD_SYMLINK}"
fi


### Git aliases ##############################################################

# Superfast git-status and git-diff aliases
kk() {
    git status 2>&1 | head -2 | tail -1
    if [[ "$PWD" == "$HOME/dotfiles" ]]; then
        git status --short --untracked-files=no
    else
        git status --short $*
    fi
}
alias kl='echo git diff && git diff'
alias lk='echo git diff --cached && git diff --cached'

# git-svn aliases with 'auto' stashing
gsvnup() {
    if [[ $(git stash) == "No local changes to save" ]]; then
        stash=0
    else
        stash=1
    fi

    git svn rebase

    if [ ${stash} -eq 1 ]; then
        stash=0
        git stash pop
    fi
}
gsvndcommit() {
    if [[ $(git stash) == "No local changes to save" ]]; then
        stash=0
    else
        stash=1
    fi

    git svn dcommit

    if [ ${stash} -eq 1 ]; then
        stash=0
        git stash pop
    fi
}


### Vim / Emacs / Spacemacs / Text editing ###################################

# My most evil shell alias/function
#
# Use emacsclient to try to open the files in a new Emacs window
# if a server is running. When emacsclient is not an executable or
# no server is running, revert to using Vim with a pane/tab layout
# adapted to the current terminal console.
vi() {
    if [ ! $1 ]; then
        echo "error: missing arguments"
        return
    fi

    emacsclient -q -n $* 2>/dev/null && return 0

    if [ $? -ne 0 ]; then
        # Open files in tabs or vertical/horizontal splits depending on
        # number of files and number of columns available in terminal
        if [ $# -eq 1 ]; then
            vim $@
        elif [ $# -eq 2 ]; then
            if [ $(tput cols) -lt 80 ]; then
                vim -p $@
            elif [ $(tput cols) -lt 191 ]; then
                vim -o $@
            else
                vim -O $@
            fi
        elif [ $# -ge 3 ]; then
            vim -p $@
        fi
    fi
}

alias view='/usr/bin/vim -R'

# Wrapper for opening (and protecting) your last vim session
svim() {
    if [ -f "/tmp/${USER}.session.vim" ]; then
        if [ -f "/tmp/${USER}.svim.lock" ]; then
            echo Vim session already started
        else
            touch /tmp/${USER}.svim.lock
            vim -S /tmp/${USER}.session.vim
            rm /tmp/${USER}.svim.lock
        fi
    else
        echo No .session.vim file found
    fi
}

# Quickly edit scripts whatever their location may be
viwhich() {
    if [ $1 ]; then
        vim $(which $1)
    else
        echo "What a shame, that's no argument"
    fi
}

# Quickly edit files found by ack
viack() {
    if [ $1 ]; then
        vim $(ack -l $*)
    else
        echo "What a shame, that's no argument"
    fi
}
# Quickly edit files found by ag
viag() {
    if [ $1 ]; then
        vim $(ag -l $*)
    else
        echo "What a shame, that's no argument"
    fi
}

alias todo='vi ~/TODO.otl'

alias trailing_whitespace_prune="perl -pi -e 's/ +$//' **/*"


### Python aliases ###########################################################
alias envinit='source .virtualenv/bin/activate'
alias envmake3.8='python3.8 -m venv .virtualenv'
alias envmake3.6='python3.6 -m venv .virtualenv'
alias envmake2='virtualenv2 --no-site-packages .virtualenv'
pi() {
    # start an interactive python session with bpython
    filename="$1"
    if [[ -z "$filename" ]]; then
        bpython
    else
        shift
        bpython -i $filename $*
    fi
}


### PHP aliases ##############################################################
alias runphpserver='php -S 127.0.0.1:8080'
alias phpcs="phpcs --standard=$HOME/dotfiles/standards/babab-phpcs/ruleset.xml"
phpmd() {
    phpmd "$1" "text" "$HOME/dotfiles/standards/babab-phpmd/ruleset.xml"
}


### Misc aliases #############################################################

alias b='xs thunar .' # open file browser in current directory
alias pdf_combine='gs -dBATCH -dNOPAUSE -q -sDEVICE=pdfwrite -sOutputFile=combined.pdf'
alias rm_docker_images='docker rmi $(docker images -q)'
alias rm_docker_ps='docker rm $(docker ps -qa)'
alias rm_vimsession='find . -name ".session.vim" | xargs /bin/rm -f'
alias runmailserver='python -m smtpd -n -c DebuggingServer localhost:1025'
alias sshagent='eval `ssh-agent` >/dev/null'
alias sshsockstunnel='ssh -C2qTnN -D 8080 sunrise'
alias make7z='7z a -t7z -m0=lzma -mx=9 -mfb=64 -md=32m -ms=on'
alias tsc-all='tsc *.ts'
alias tsc-auto='tsc *.ts --watch'

hypo-upload() {
    curl --upload-file "$1" https://cloud.babab.nl/hypo/ #2>/dev/null
}

codecept-alias-init() {
    alias codecept="$PWD/vendor/bin/codecept"
}

if [ -f $HOME/.aliases_local ]; then
    source $HOME/.aliases_local
fi

