[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Benjamin Althues
	email = benjamin@babab.nl
[alias]
	st = status
	ci = commit
	ca = commit --amend --reset-author
	co = checkout
	di = diff
	br = branch
	ls = log --stat
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = simple
[init]
	defaultBranch = main
