[core]
	excludesfile = ~/.gitignore_global

;### identity and signing ###;
[user]
	name = Benjamin Althues
	email = benjamin@babab.nl
	signingkey = ~/.ssh/babab_git.pub
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers_git

;### workflow settings ###;
[alias]
	st = status
	ci = commit
	ca = commit --amend --reset-author
	co = checkout
	di = diff
	br = branch
	ls = log --stat
	mrg = merge --ff-only
	gh = remote-gh
	sl = !git branch -a && git stash list
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = simple
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[log]
	showSignature = true

; vim: set noet ts=4 sw=4 sts=3 ai:
