# vim:set ft=sh:

## Listing directories #######################################################

if [[ "$(uname)" == "OpenBSD" ]]; then
    alias la='colorls -FAG'
    alias ll='colorls -FlhG'
    alias lla='colorls -FlhAG'
    alias ls='colorls -FG'
else
    alias la='ls -FA --color=auto'
    ll() {
        ls -Flh  --color=always "$@" | less
    }
    lla() {
        ls -FlhA --color=always "$@" | less
    }
    alias ls='ls -F  --color=auto'
fi


### Changing directories #####################################################

alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# Projectpad aliases, see: http://github.com/babab/projectpad
alias g='cd `projectpad get`'
alias s='projectpad set && cd `projectpad get`'

if [[ "${HOST}" != "vml" ]]; then
    export PROJECTPAD_SYMLINK=~/p
    alias gg="cd ${PROJECTPAD_SYMLINK}"
fi


### Superfast git-status and git-diff aliases ################################

kk() {
    git status | head -2 | tail -1; git status --short
}
alias kl='echo git diff && git diff'
alias lk='echo git diff --cached && git diff --cached'


### Vim / Text editing #######################################################

# Open files in tabs or vertical/horizontal splits depending on number
# of files and number of columns available in terminal
vi() {
    if [ $# -eq 1 ]; then
        vim $@
    elif [ $# -eq 2 ]; then
        if [ $(tput cols) -lt 80 ]; then
            vim -p $@
        elif [ $(tput cols) -lt 191 ]; then
            vim -o $@
        else
            vim -O $@
        fi
    elif [ $# -ge 3 ]; then
        vim -p $@
    fi
}

# Wrapper for sourcing (and protecting) a vim session
svim() {
    if [ -f "$PWD/.session.vim" ]; then
        if [ -f "/tmp/$USER.vimsession" ]; then
            echo Vim session already started
        else
            touch /tmp/$USER.vimsession
            vim -S .session.vim
            rm /tmp/$USER.vimsession
        fi
    else
        echo No .session.vim file found
    fi
}

# Quickly edit scripts whatever their location may be
viwhich() {
    if [[ $1 ]]; then
        vi $(which $1)
    else
        echo "What a shame, that's no argument"
    fi
}

# Quickly edit files found by ack
vack() {
    if [[ $1 ]]; then
        vi $(ack -l $*)
    else
        echo "What a shame, that's no argument"
    fi
}

alias trailing_whitespace_prune="perl -pi -e 's/ +$//' **/*"


### Misc aliases #############################################################

alias b='xs thunar .' # open file browser in current directory
alias envinit='source .virtualenv/bin/activate'
alias pdf_combine='gs -dBATCH -dNOPAUSE -q -sDEVICE=pdfwrite -sOutputFile=combined.pdf'
alias rm_docker_images='docker rmi $(docker images -q)'
alias rm_docker_ps='docker rm $(docker ps -qa)'
alias rm_vimsession='find . -name ".session.vim" | xargs /bin/rm -f'
alias runmailserver='python -m smtpd -n -c DebuggingServer localhost:1025'
alias runphpserver='php -S 127.0.0.1:8080'
alias sshagent='eval `ssh-agent` >/dev/null'
alias view='~/bin/vi -R'

hypo-upload() {
    curl --upload-file "$1" https://cloud.babab.nl/hypo/ #2>/dev/null
}

codecept-alias-init() {
    alias codecept="$PWD/vendor/bin/codecept"
}

if [ -f $HOME/.aliases_local ]; then
    source $HOME/.aliases_local
fi
