# vim:set ft=sh:

if [[ "$(uname)" == "OpenBSD" ]]; then
    alias la='colorls -FAG'
    alias ll='colorls -FlhG'
    alias lla='colorls -FlhAG'
    alias ls='colorls -FG'
else
    alias la='ls -FA --color=auto'
    ll() {
        ls -Flh  --color=always "$@" | less
    }
    lla() {
        ls -FlhA --color=always "$@" | less
    }
    alias ls='ls -F  --color=auto'
fi

alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
kk() {
    git status | head -2 | tail -1; git status --short
}
alias b='xs thunar .'
alias kl='echo git diff && git diff'
alias lk='echo git diff --cached && git diff --cached'
alias rm_migrations='find . -wholename "*/migrations/*" | xargs /bin/rm -f'
alias rm_pyc='find . -name "*.pyc" | xargs /bin/rm -f'
alias rm_vimsession='find . -name ".session.vim" | xargs /bin/rm -f'
alias runmailserver='python -m smtpd -n -c DebuggingServer localhost:1025'
alias runphpserver='php -S 127.0.0.1:8080'
alias search='find / 2>/dev/null | grep -i'
alias sinstall='sudo make install'
alias sshagent='eval `ssh-agent` >/dev/null'
alias djangoproject='django-admin.py startproject --template=~/git/p/django-project-template -e py,fcgi,sh,html'
alias venvinit='source virt-env/bin/activate'
alias x='exit'
alias phpserver='php -S 127.0.0.1:8000'
alias pdf_combine='gs -dBATCH -dNOPAUSE -q -sDEVICE=pdfwrite -sOutputFile=combined.pdf'

# Projectpad aliases
alias g='cd `projectpad get`'
alias s='projectpad set && cd `projectpad get`'

# Recursively delete trailing whitespace -- Zsh only
# if [ "${SHELL}" == "/usr/bin/zsh" ]; then
#     if [ -x /usr/bin/perl ]; then
        alias trailing_whitespace_prune="perl -pi -e 's/ +$//' **/*"
    # fi
# fi

if [ -f $HOME/.aliases_local ]; then
    source $HOME/.aliases_local
fi
