[submodule "depends/baps1"]
	path = depends/baps1
	url = https://github.com/ryuslash/baps1.git
[submodule "depends/zsh-syntax-highlighting"]
	path = depends/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "depends/zsh-history-substring-search"]
	path = depends/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "depends/zsh-autosuggestions"]
	path = depends/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
