[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/calendar-vim"]
	path = .vim/bundle/calendar-vim
	url = git://github.com/mattn/calendar-vim.git
[submodule ".vim/bundle/NrrwRgn"]
	path = .vim/bundle/NrrwRgn
	url = git://github.com/chrisbra/NrrwRgn.git
[submodule ".vim/bundle/utl"]
	path = .vim/bundle/utl
	url = git://github.com/vim-scripts/utl.vim.git
[submodule ".vim/bundle/VimOrganizer"]
	path = .vim/bundle/VimOrganizer
	url = git://github.com/hsitz/VimOrganizer.git
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-djazz"]
	path = .vim/bundle/vim-djazz
	url = git://github.com/babab/vim-djazz.git
[submodule ".vim/bundle/vim-gnupg"]
	path = .vim/bundle/vim-gnupg
	url = git://github.com/jamessan/vim-gnupg.git
[submodule ".vim/bundle/ack-vim"]
	path = .vim/bundle/ack-vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/Vim-Jinja2-Syntax"]
	path = .vim/bundle/Vim-Jinja2-Syntax
	url = git://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule ".vim/bundle/conque-term"]
	path = .vim/bundle/conque-term
	url = git://github.com/rosenfeld/conque-term
[submodule ".vim/bundle/vim-vinegar.git"]
	path = .vim/bundle/vim-vinegar.git
	url = git://github.com/tpope/vim-vinegar.git
