snippet doctype
	<!doctype html>
	<html>
		<head>
			<meta charset="UTF-8" />
			<link rel="stylesheet" href="${1:main.css}" />
			<style>
			</style>
			<title>${2}</title>
		</head>
		<body>
			<div id="container">
				${3}
			</div>
		</body>
	</html>
snippet script
	<script>
		${1}
	</script>${2}
snippet scriptsrc
	<script src="${1}.js"></script>${2}
snippet style
	<style media="screen">
		${2}
	</style>${3}
snippet div
	<div id="${1:name}">
		${2}
	</div>
