snippet import-bw "Import bootswatch"
@import "https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/flatly/bootstrap.min.css";
endsnippet
snippet import-fa "Import font-awesome"
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
endsnippet
